{% load static %}


{% for book in book_list %}
<div class="table-responsive-md col-md-12">
    <h4 class="m-2">{{ book.abbr }}|{{ book.name }}</h4>

    <table class="table table-hover table-light align-middle">
        <thead class="table-light">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Record Count</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for account in book.accounts.all %}
            <tr class="table-{{ account.color_code }} position-relative">
                <td scope="row">
                    <a href="{{ account.get_absolute_url }}" class="stretched-link text-decoration-none text-dark">
                        {{ account.code }}
                    </a>
                </td>
                <td>{{ account.name }}</td>
                <td>{{ account.record_count|default_if_none:"<span class='text-danger'>-</span>"|safe }}</td>
                <td class="myamount">{{ account.get_account_balance }}</td>
            </tr>
        {% empty %}
            <tr class="table-light">
                <td class='text-danger' colspan=4>No Account associated with {{book.name}} Book</p>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan=3>total</td>
                <td>
                    <script src="{% static "js/table_amount_footer.js" %}"></script>
                </td>
            </tr>
        </tfoot>
    </table>
{% empty %}
    <table class="table table-hover table-light align-middle" >
        <h4 class="m-2" class='text-danger'>No Book Found</h4>
        <thead class="table-light">
            <tr>
                <th>Date</th>
                <th>Code</th>
                <th>Name</th>
                <th>Receipt</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-light">
                <td colspan=6 class='text-danger'>No Account loaded</td>
            </tr>
        </tbody>
    </table>
</div>
{% endfor %}