{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Delete Book" %}{% endblock title %}

{% block content %}
<h2 class="m-3 text-muted">{% trans "Delete Book" %}</h2>
<hr>
<div class=>
    <form method="post" class="form-control p-3 col-6">
        {% csrf_token %}
        <p>
            {% blocktrans trimmed %}
            Are you sure you want to delete accounting book {{ object.abbr }}:{{ object.name }}?
            {% endblocktrans %}
        </p>
        <div class="container d-flex justify-content-begin">
            <input class="btn btn-danger" type="submit" value="{% trans "Delete" %}">
            <a class="btn btn-warning ms-auto" href="{% url "book_update" object.id %}">{% trans "Back" %}</a>
        </div>
    </form>
</div>

{% endblock content %}
