{% load i18n %}

<div class="table-responsive-md">
    <table
        class="table table-hover table-light align-middle"
    >
        <thead class="table-light">
            <tr>
                <th scope="col-2">{% trans "Type" %}</th>
                <th scope="col-4">{% trans "Account" %}</th>
                <th scope="col-4">{% trans "Amount" %}</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for entry in entries %}
            <tr class="table-{{ entry.color_by_code }} position-relative">
                <td>
                    <a href="{% url "transaction_detail" entry.transaction.slug%}" class="stretched-link text-decoration-none text-uppercase text-dark">
                    {{ entry.entry_type }}
                    </a>
                </td>
                <td>{{ entry.account }}</td>
                <td>{{ entry.amount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>