<div
    class="table-responsive-md"
>
    <table
        class="table table-sm table-hover table-bordered table-light align-middle"
    >
        <thead class="table-light">
            <tr>
                <th class="col-8">Name</th>
                <th class="col-4">Amount</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr
                class="table-info"
            >
                <td scope="row">{{ prepcard.ingredients.name }}</td>
                <td scope="row">{{ prepcard.ingredients.amount }} g</td>
            </tr>
        </tbody>
    </table>
</div>