{% extends "_base.html" %}
{% load static %}
{% block title %}FastReckon{% endblock title %}

{% block content %}
<div class="container-fluid jumbotron vh-100 d-flex justify-content-center align-items-center">
    <div class="background bg-dark h-100 w-100 z-0  overflow-hidden position-absolute">
        <video autoplay loop muted playsinline class="h-75 w-100 object-fit-cover" id="background-video">
          <source src="{% static "footages/closeup_clock.mp4" %}" type="video/mp4">
        </video>
        <div class="fade-overlay position-absolute top-0 start-0 h-100 w-100"></div>
    </div>
    <div class="content mx-auto text-center align-items-center z-1">
        <h1 class="display-4 font-weight-bold">Every Unrecorded Day is a Missed Opportunity.</h1>
        <p class="lead">Without records, there are no insights.</p>
        <p class="lead">Without insights, there’s no clarity.</p>
        <p class="lead">And without clarity, your plans are just guesses.</p>
        <p class="lead">Stop guessing through life and start records today.</p>
        <p>
          <a class="btn btn-dark text-white btn-lg">
            Start Reckoning
          </a>
        </p>
      </div>
</div>
<style>
    .background video {
        filter: brightness(50%);
    }

    .fade-overlay {
        background: rgba(0,0,0,1);
        opacity: 0;
        transition: opacity 3s ease-in-out;
    }

    .content {
        position: relative;
        color: white;
    }
</style>

<script>
    const video = document.getElementById("background-video")
    const fadeOverlay = document.querySelector(".fade-overlay")

    // Fade in when the video starts playing
    video.addEventListener("play", () => {  //Fade in when loopback
        fadeOverlay.style.opacity = 0;
    });
    video.addEventListener("timeupdate", () => {
        const timeLeft = video.duration - video.currentTime;
        
        if (timeLeft > 0 && timeLeft <= 3) { //Fade out in the last second
            fadeOverlay.style.opacity = 1; 
        }

        if (timeLeft > 3) {                 //Fade in otherwise
            fadeOverlay.style.opacity = 0;
        }
    });
</script>
{% endblock content %}