{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Account List{% endblock title %}

{% block content %}
    <div class="row m-3 justify-content-between">
        <h2 class="col-8 text-muted">Table of Account</h2>
        <a class="btn btn-success col-4" href="{% url "account_create" %}">+ New Account</a>
    </div>
    <hr />
    <div class='container row ms-auto'>
        <div class='col-auto'>
            {% include "partials/htmx/acc_book_selector.html" %}
        </div>
        <div class='col-8'>
            <form method="get" action="{% url "account_list" %}" class='d-flex'>
                <input class='form-control me-2' type="search" name="code" value="{{ request.GET.code|escape }}" placeholder='Enter code'>
                <input class='form-control me-2' type="search" name="name" value="{{ request.GET.name|escape }}" placeholder='Enter account'>
                <input class="btn btn-success" type="submit" value="Search">
            </form>
        </div>
    </div>
    <div class="container m-3  ms-auto" id="account-container">
        {% include "acc_codes/partials/base_acc_table.html" %}
    </div> 
{% endblock content %}