<!--TODO: Use MonthArchiveView-->
{% extends "_base.html" %}
{% load i18n %}

{% block title %}{% trans "Update Record" %}{% endblock title %}

{% block content %}
<div
    class="table-responsive"
>
    <table
        class="table table-striped table-hover table-borderless table-primary align-middle"
    >
        <caption>
            {% trans "Income and Expense during Week" %} ##-##
        </caption>
        <thead class="table-light">
            <tr>
                <td>&nbsp;</td>
                <th scope="col">{% trans "Mon" %}</th>
                <th scope="col">{% trans "Tue" %}</th>
                <th scope="col">{% trans "Wed" %}</th>
                <th scope="col">{% trans "Thu" %}</th>
                <th scope="col">{% trans "Fri" %}</th>
                <th scope="col">{% trans "Sun" %}</th>
                <th scope="col">{% trans "Sat" %}</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr
                class="table-primary"
            >
                <th scope="row">Week#</th>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
                <td>Item</td>
            </tr>
        </tbody>
        <tfoot>
            
        </tfoot>
    </table>
</div>

{% endblock %}