{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Transaction Records{% endblock title %}

{% block content %}
    <div class="row m-3 justify-content-between">
        <h2 class="col-8 text-muted">Transaction List</h2>
        <a class="btn btn-success col-4" href="{% url "transaction_create" %}">Add Reckon</a>
    </div>
    <hr />
    <div class='row ms-auto'>
        <div class='col-4'>
            {% include "partials/htmx/tran_book_selector.html" %}
        </div>
        <div class='col-8 '>
            <form method="get" action="{% url "transaction_list" %}" class='d-flex'>
                <input class='form-control me-2' type="search" name="keyword" value="{{ request.GET.keyword|escape }}"placeholder='Enter keyword'>
                <input class='form-control me-2' type="date" name="created" value="{{ request.GET.created|escape }}">
                <input class="btn btn-success" type="submit" value="Search">
            </form>
        </div>
    </div>
    <div class="m-3 ms-auto" id="transaction-container">
        {% include "transactions/partials/base_tran_table.html" %}
    </div>
{% endblock content %}