{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ view_name }} Transaction{% endblock title %}

{% block content %}
<h2 class="my-3">{{ view_name }} Transaction</h2>
<form method="post" class="form-control p-3">
    {% csrf_token %}
    <div class="container" id='transaction_form'>
        {{ form | crispy }}
    </div>
    <h2 class="my-3">{{ view_name }} Entries</h2>
    <div class="container" id='entry_form'>
        {{ entry_formset.management_form }}
        {% for error in formset.non_form_errors %}
        <div class="alert alert-error" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error }}
        </div>
        {% endfor %}
        <table class="table-light">
            <hr />
            {% for form in entry_formset %} <!--TODO decomponent and style-->
            <div class="form-row">
                <span class="ms-auto">{{ form | crispy }}</span>
            </div>
            {% endfor %}
        </table>
    </div>
    <div class="container d-flex justify-content-begin">
        <input class="btn btn-primary" type="submit" value="{{ view_name }}">
        <a class="btn btn-warning ms-auto" href="{% url "transaction_list" %}">Back to List</a>
        {% if view_name == "Update" %}
        <a class="btn btn-danger ms-auto" href="{% url "transaction_delete" object.slug %}">- Delete Transaction</a>
        {% endif %}
    </div>
</form>

<script>
    //JSON datepicker
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
        });
    });  

    //Auto-fill Amount based on first entry form
    var AmountInput = document.querySelectorAll('.form-row>span>div[id$="-amount"] input');
    function updateAmount(myamount) {
        AmountInput.forEach(input => {
            input.value = myamount;
        });
    };

    var my_first_amount = document.getElementById('id_entries-0-amount');
    my_first_amount.addEventListener('change', function () {
        updateAmount(this.value);
    });
</script>
{% if view_name == "Create" %}
<script>
    //Auto-fill EntryType first is DR and the rest is CR
    var EntryTypeSelect = document.querySelectorAll('.form-row>span>div[id$="-entry_type"] select');
    EntryTypeSelect.forEach((select, index) => {
        if (index == 0) {
            option = select.options[1];
        } else {
            option = select.options[2];
        }
        option.selected = true;
    });
</script>
{% else %}
<script>
    console.log("UpdateView: Don't Fill Dr/Cr")
</script>
{% endif %}

{% endblock content %}