{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block title %}{% blocktrans trimmed %}
{{ view_name }} Transaction
{% endblocktrans %}{% endblock title %}

{% block content %}
<h2 class="my-3">{% blocktrans trimmed %}
{{ view_name }} Transaction
{% endblocktrans %}</h2>
<form method="post" class="form-control p-3">
    {% csrf_token %}
    <div class="container" id='transaction_form'>
        {{ form | crispy }}
    </div>
    <div id="entry_form_button" class="row m-3">
        <h2 class="col-9">{% blocktrans trimmed %}
        {{ view_name }} Entries
        {% endblocktrans %}</h2>
        <button type="button" id="add_entryform" class="btn btn-secondary col-3"
            hx-post="{% url "get_extra_entryform" %}" 
            hx-target="#entry_form"
            hx-swap="beforeend" 
            hx-include="#id_entries-TOTAL_FORMS"
            >+ {% trans "Add Entry" %}
        </button>
        {{ entry_formset.management_form }}
        {% for error in formset.non_form_errors %}
        <div class="alert alert-danger alert-dismissable d-flex my-2 fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    <!--Entry Form Card-->
    <div id="entry_form" class="row m-3 g-3">
        {% for form in entry_formset %}
        <div class="col-md-4">
            <div class="card p-3">
                {{ form|crispy }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="button_container" class="container d-flex justify-content-begin">
        <input class="btn btn-primary" type="submit" 
               value="{% blocktrans trimmed %}{{ view_name }}{% endblocktrans %}">
        <a class="btn btn-warning ms-auto" href="{% url "transaction_list" %}">{% trans "Back to List" %}</a>
        {% if view_name == "Update" %}
        <a class="btn btn-danger ms-auto" href="{% url "transaction_delete" object.slug %}">- {% trans "Delete Transaction" %}</a>
        {% endif %}
    </div>
</form>

<script>
    //Auto-fill Amount based on first entry form
    var AmountInput = document.querySelectorAll('div[id$="-amount"] input');
    function updateAmount(myamount) {
        AmountInput.forEach(input => {
            input.value = myamount;
        });
    };

    var my_first_amount = document.getElementById('id_entries-0-amount');
    my_first_amount.addEventListener('change', function () {
        updateAmount(this.value);
    });
</script>
{% if view_name == "Create" %}
<script>
    //Auto-fill EntryType first is DR and the rest is CR
    var EntryTypeSelect = document.querySelectorAll('div[id$="-entry_type"] select');
    EntryTypeSelect.forEach((select, index) => {
        if (index == 0) {
            option = select.options[1];
        } else {
            option = select.options[2];
        }
        option.selected = true;
    });
</script>
{% endif %}

{% endblock content %}